* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the root font size */
html {
  font-size: 16px;
}
body {
  background-color: #f3e5d7;
  display: flex; /* Make body a flex container */
  justify-content: center; /* Center <main> horizontally */
  align-items: center; /* Center <main> vertically */
}

main {
  display: flex;
  width: 1440px;
  padding: 122px var(--spacing-600, 48px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
  background-color: red;
}

section {
  display: flex;
  width: 736px;
  padding: var(--spacing-500, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-500, 40px);
  flex-shrink: 0;
  height: 1700px;
  border-radius: var(--spacing-300, 24px);
  background: var(--color-white, #fff);
}
