/* Reset CSS */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the root font size */
html {
  font-size: 16px;
}
body {
  background-color: #f3e5d7;
}
:root {
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1600: 8rem;
}

.main_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  margin: 0 auto 0 auto;
  background-color: white;
  min-width: 20rem;
}
.text_content_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  margin: 0 var(--spacing-400) var(--spacing-400) var(--spacing-400);
}
h1 {
  color: var(--color-stone-900, #312e2c);

  /* Mobile/text-preset-1 */
  font-family: "Young Serif";
  font-size: var(--font-size-mobile-text-preset-1, 2.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  margin: 0 0 1.5rem 0;
}
h2 {
  color: var(--color-brown-800, #854632);
  /* Desktop/text-preset-2 */
  font-family: "Young Serif";
  font-size: var(--font-size-desktop-text-preset-2, 1.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
}
h3 {
  color: var(--color-rose-800, #7a284e);
  /* Desktop/text-preset-3 */
  font-family: Outfit;
  font-size: var(--font-size-desktop-text-preset-3, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  margin-bottom: 1rem;
}
p {
  color: var(--color-stone-600, #5f564d);

  /* Desktop/text-preset-4 */
  font-family: Outfit;
  font-size: var(--font-size-desktop-text-preset-4, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.recipe_image {
  background-image: url("assets/images/image-omelette.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10.68rem;
  background-color: red;
}

span {
  color: var(--color-stone-600, #5f564d);
  /* Desktop/text-preset-4 */
  font-family: Outfit;
  font-size: var(--font-size-desktop-text-preset-4, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.prepbold {
  font-weight: 700;
}

ul {
  list-style-position: inside;
  list-style-type: none; /* Remove default dots */
  padding-left: 0; /* Adjust padding if needed */
}
li {
  margin-bottom: 0.5rem;
}
ul li::before {
  content: "•"; /* Unicode or any custom character */
  color: #854632; /* Set custom color */
  font-size: 1rem; /* Adjust size */
  margin-right: 0.5rem; /* Add spacing */
}
ol {
  list-style-type: none; /* Removes the browser's default numbers */
  padding-left: 0; /* Removes default padding */
}
.custom-number {
  color: var(--color-brown-800, #854632);

  /* Desktop/text-preset-4-bold */
  font-family: Outfit;
  font-size: var(--font-size-desktop-text-preset-4, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */ /* Space between number and text */
}
.preparation {
  padding: 0 var(--spacing-300) 0 var(--spacing-300);
}

.ingridients {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.ingridients ul {
  color: var(--color-stone-600, #5f564d);

  /* Desktop/text-preset-4 */
  font-family: Outfit;
  font-size: var(--font-size-desktop-text-preset-4, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.separator {
  height: 1px;
  background: var(--color-stone-150, #e3ddd7);
}
.instructions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.nutrition_span {
  display: block;
}
.nutrition_span_value {
  display: block;
  color: var(--color-brown-800, #854632);

  /* Desktop/text-preset-4-bold */
  font-family: Outfit;
  font-size: var(--font-size-desktop-text-preset-4, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.row {
  display: flex;
  padding: 0px var(--spacing-400, 32px);
  align-items: center;
  gap: var(--spacing-200, 16px);
  align-self: stretch;
}
.nutrition_span,
.nutrition_span_value {
  flex: 1; /* Ensures both spans take up equal space */
  text-align: left; /* Aligns text in .nutrition_span to the left */
}
/* Tablet styles */
@media (min-width: 768px) {
  body {
    padding: var(--spacing-1600) 0 var(--spacing-1600) 0;
  }
  .main_container {
    width: 38.5rem;
    border-radius: 1.5rem;
  }

  .recipe_image {
    margin: var(--spacing-500);
    height: 18.75rem;
    border-radius: 0.75rem;
  }
  .text_content_container {
    margin: 0 var(--spacing-500) var(--spacing-500) var(--spacing-500);
  }
  h1 {
    font-size: var(--font-size-mobile-text-preset-1, 2.5rem);
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  body {
    padding: var(--spacing-1600) 0 var(--spacing-1600) 0;
  }
  .main_container {
    width: 46rem;
    border-radius: 1.5rem;
  }

  .recipe_image {
    margin: var(--spacing-500);
    height: 18.75rem;
    border-radius: 0.75rem;
  }
  .text_content_container {
    margin: 0 var(--spacing-500) var(--spacing-500) var(--spacing-500);
  }
  h1 {
    font-size: var(--font-size-mobile-text-preset-1, 2.5rem);
  }
}
